#twitter-feed
  %h3 Beer Tweets
  - @tweets.each do |tweet|  
    %ul.tweet
      %li.tweet-user
        = auto_link("@" + tweet[:user]).html_safe
      %li.tweet-content
        = auto_link(tweet[:tweet_content]).html_safe
      %li.tweet_time
        = tweet[:tweet_time].strftime('%B %e, %Y at %l:%M:%S%P')
